body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

* {
    font-family: "Outfit", sans-serif;
}

.container {
    height: 500px;
    width: 900px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}


.first {
    background-color: hsl(31, 77%, 52%);
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    
}

#img {
    height: 125px;
    width: 300px;
}


.sedani {
    margin-left: 45px;
    margin-top: 35px;
    height: 40px;
    width: 62px;
}

#text {
    height: 125px;
    width: 300px;
}

#ptx {
    color: white;
    font-size: 35px;
    margin-left: 45px;
    margin-top: -25px;

}

#text1 {
    color: rgba(255, 255, 255, 0.705);
    margin-left: 45px;
    margin-top: -90px;
}

#button {
    color: hsl(31, 77%, 52%);
    background-color: rgba(255, 255, 255, 0.751);
    border: none;
    margin-left: 45px;
    margin-top: 50px;
    width: 150px;
    height: 50px;
    border-radius: 25px;
}


#img1 {
    height: 125px;
    width: 300px;
}

#suvs {
    margin-left: 45px;
    margin-top: 35px;
    height: 40px;
    width: 62px;
}

#ptx1 {
    color: white;
    font-size: 35px;
    margin-left: 45px;
    margin-top: -61px;
}

#text2 {
    margin-top: -20px;
    color: rgba(255, 255, 255, 0.644);
    margin-left: 45px;
}

#button1 {
    color: hsl(184, 100%, 22%);
    background-color: rgba(255, 255, 255, 0.751);
    border: none;
    margin-left: 45px;
    margin-top: 50px;
    width: 150px;
    height: 50px;
    border-radius: 25px;
}

#luxury {
    margin-left: 45px;
    margin-top: 35px;
    height: 40px;
    width: 62px;
}

#mnt {
    color: white;
    font-size: 35px;
    margin-left: 45px;
    margin-top: -15px;
}

#text3 {
    margin-top: -20px;
    color: rgba(255, 255, 255, 0.64);
    margin-left: 45px;
}

#button2 {
    color: hsl(179, 100%, 13%);
    background-color: rgba(255, 255, 255, 0.751);
    border: none;
    margin-left: 45px;
    margin-top: 50px;
    width: 150px;
    height: 50px;
    border-radius: 25px;
}

.second {
    background-color: hsl(184, 100%, 22%);
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
}



.third {
    background-color: hsl(179, 100%, 13%) ;
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
}


